@import '../assets/reset';
html,
body {
    overflow: hidden;
}

.catalog-container {
    display: flex;
}

.bar {
    flex: 0 0 auto;
    height: 100vh;
    width: 6px; // background: red;
    cursor: col-resize;
}

.tree {
    flex: 0 0 auto;
    height: 100vh;
    min-width: 230px;
    padding: 10px;
    overflow-y: scroll;
    .toggle {
        overflow: hidden;
        border-bottom: 1px solid #707070;
        .btn {
            float: right;
            cursor: pointer;
        }
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
    /* 滚动槽 */
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    }
}

#content {
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    .inner-html {
        width: 100%;
        min-width: 1000px;
        height: 100vh;
    }
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, .8);
    display: flex !important;
    justify-content: center;
    align-items: center;
    .title {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
    }
}

.isdraging {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0);
}